body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;	
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  color: #766357;
}

.background-logo {
  width: 1200px;
  height: 510px;
  background-image: url("../img/polygon.svg"), url("../img/background-photo.jpg");
  background-size: 1200px 59px, cover;
  background-position: center bottom, center -55px; /* Сдвиг бэкграунда подбирал на глаз */
  background-repeat: no-repeat;
}

.welcome h2 {
  font-size: 21px;
  line-height: 26px;	
}

.welcome p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.features-list,
.features-list-nested {
  list-style: none; 
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.feature-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.feature-item-main {
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-item:last-child .nested-item {
  background-color: #eeeeee;
}

.interested h2 {
  font-size: 30px;
  line-height: 36px;	
}

.interested p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button-popap {
  background-color: #766357;	
}

.button-popap:hover,
.button-popap:focus {
  background-color: #604e43;
}

.button-popap:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-find:hover,
.button-find:focus,
.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.button-find:active,
.social-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.visitsedona {
  font-size: 21px;
  line-height: 26px;	
}

.social-list {
  list-style: none;
}

.website-by {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.find-form-item input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.find-form-item input:hover {
  background-color: #ebebeb;
}

.find-form-item input:focus {
  background-color: transparent;
  border: 2px #e5e5e5 solid; /* Форма увеличивается в фокусе из за появления рамки. Нужно что-то менять. ) */
}

/* Далее для страницы каталога */

.catalog-item span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.reitings {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666; 
}

.hotel-type {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;	
}

.hotel-type:hover,
.hotel-type:focus {
  color: #81b3d2;
}

.hotel-type:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-filter {
  background-image: url("../img/filter-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}