body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*
.shift {
  width: 1200px;
  margin: 0 auto;
}
*/


.header-logo {
  position: absolute;
  left: 530px;
}

.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;

  width: 1200px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  min-height: 55px;

  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-navigation li {
  width: 239px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation a {
  color: #000000;
}

/* В этом участке вложенность получается до 3-го уровня :-( */
.site-navigation li:nth-of-type(1) a {
  padding-left: 72px;
}

.site-navigation li:nth-of-type(2) a {
  padding-left: 73px;
}

.site-navigation li:nth-of-type(3) a {
  padding-left: 76px;
}

.site-navigation li:nth-of-type(4) a {
  padding-left: 88px;
}


.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  color: #766357;
}

.container {
  margin: 0;
  padding: 0;
  
  width: 1200px; 
}

.background-logo {
  width: 1200px;
  height: 510px;
  background-image: url("../img/polygon.svg"), url("../img/background-photo.jpg");
  background-size: 1200px 57px, cover;
  background-position: center bottom, center -55px; /* Сдвиг бэкграунда подбирал на глаз */
  background-repeat: no-repeat;

  margin-bottom: 60px;
}

.welcome {
  margin: 0;
  padding: 0;
  width: 575px;
  margin-left: 312px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome h2 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;	
  text-align: center;
  margin-bottom: 25px;
}

.welcome p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin-bottom: 50px;
}

.features {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.features-list,
.features-list-nested,
.catalog-list {
  margin: 0;
  padding: 0; 
  list-style: none; 
}

.feature-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.feature-item-main {
  display: flex;
  flex-direction: row;
}

.feature-item-discription {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  width: 400px;
  background-color: #81b3d2;
}

.feature-item-background {
  margin: 0;
  padding: 0; 
  width: 800px;
}

.feature-item:nth-of-type(1) .feature-item-discription {
  padding-top: 46px;
  padding-bottom: 64px;
  padding-left: 60px;
  padding-right: 60px;
}

.feature-item:nth-of-type(1) .feature-item-background {
  background-image: url("../img/feature-photo-2.jpg");
  background-repeat: no-repeat;
  background-position: center -75px;
  background-size: cover;
}

.feature-item:nth-of-type(2) .feature-item-discription {
  padding-top: 49px;
  padding-bottom: 55px;
  padding-left: 49px;
  padding-right: 49px;
}

.feature-item:nth-of-type(2) .feature-item-background {
  background-image: url("../img/feature-photo-1.jpg");
  background-repeat: no-repeat;
  background-position: center -75px;
  background-size: cover;
}

.features-list-nested {
  display: flex;
  flex-direction: row;
}

.nested-item {
  width: 400px;
  box-sizing: border-box;
}

.feature-item:nth-of-type(1) .nested-item:nth-of-type(1) {
  padding-top: 161px;
  padding-bottom: 80px;
  padding-left: 73px;
  padding-right: 75px;
}

.feature-item:nth-of-type(1) .nested-item:nth-of-type(2) {
  padding-top: 161px;
  padding-bottom: 80px;
  padding-left: 58px;
  padding-right: 58px;
}

.feature-item:nth-of-type(1) .nested-item:nth-of-type(3) {
  padding-top: 161px;
  padding-bottom: 80px;
  padding-left: 64px;
  padding-right: 63px;
}

.feature-item:nth-of-type(2) .nested-item:nth-of-type(1) {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 95px;
  padding-right: 97px;
}

.feature-item:nth-of-type(2) .nested-item:nth-of-type(2) {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 65px;
  padding-right: 65px;
}

.feature-item:nth-of-type(2) .nested-item:nth-of-type(3) {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 75px;
  padding-right: 75px;
}

.feature-item h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
}

.feature-item p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

p.feature-number {
  margin-bottom: 20px;
}

.feature-item-main {
  color: #ffffff;
}

.feature-item:last-child .nested-item {
  background-color: #eeeeee;
}

h3.with-icon {
  position: relative;
}

h3.with-icon::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -38px;

  width: 76px;
  height: 80px;
}

h3.with-icon.icon-1::before {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 5px;
}

h3.with-icon.icon-2::before {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 5px;
}

h3.with-icon.icon-3::before {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 5px 0;
}

.interested {
  margin: 0;
  padding: 0;
  width: 575px;
  margin-left: 312px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.interested h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;	
  text-align: center;
}

.interested p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button-popap {
  background-color: #766357;	
}

.button-popap:hover,
.button-popap:focus {
  background-color: #604e43;
}

.button-popap:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-find:hover,
.button-find:focus,
.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.button-find:active,
.social-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  margin: 0;
  padding: 0;
  width: 1200px;
  min-height: 120px;
}

.main-footer .footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.visitsedona {
  font-size: 21px;
  line-height: 26px;	

  width: 240px;
}

.footer-social {
  width: 400px;
}

.social-list {
  list-style: none;
}

.html-academy {
  width: 240px;
}

.website-by {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.find-form-item input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.find-form-item input:hover {
  background-color: #ebebeb;
}

.find-form-item input:focus {
  background-color: transparent;
  border: 2px #e5e5e5 solid; /* Форма увеличивается в фокусе из за появления рамки. Нужно что-то менять. ) */
}

/* Далее для страницы каталога */

.catalog-list {
  margin: 0;
  padding: 0;
}

.catalog-item {
  padding: 30px 70px;
  display: flex;
  flex-direction: row;
}

.catalog-item img {
  margin-right: 30px;
}

.catalog-item span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.catalog-reitings {
  margin-left: auto;
}

.reitings {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666; 
}

.hotel-type {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;	
}

.hotel-type:hover,
.hotel-type:focus {
  color: #81b3d2;
}

.hotel-type:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-filter {
  background-image: url("../img/filter-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 120px;
}





.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}