body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*
.shift {
  width: 1200px;
  margin: 0 auto;
}
*/

.header-logo {
  position: absolute;
  left: 530px;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;

  width: 1200px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  min-height: 55px;

  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-navigation li {

}

.site-navigation a {
  color: #000000;	
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  color: #766357;
}

.container {
  margin: 0;
  padding: 0;
  
  width: 1200px; 
}

.background-logo {
  width: 1200px;
  height: 510px;
  background-image: url("../img/polygon.svg"), url("../img/background-photo.jpg");
  background-size: 1200px 59px, cover;
  background-position: center bottom, center -55px; /* Сдвиг бэкграунда подбирал на глаз */
  background-repeat: no-repeat;

  margin-bottom: 45px;
}

.welcome {
  margin: 0;
  padding: 0;
  width: 575px;
  margin-left: 312px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome h2 {
  font-size: 21px;
  line-height: 26px;	
  text-align: center;
}

.welcome p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.features-list,
.features-list-nested,
.catalog-list {
  list-style: none; 
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.feature-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.feature-item-main {
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-item:last-child .nested-item {
  background-color: #eeeeee;
}

.interested {
  margin: 0;
  padding: 0;
  width: 575px;
  margin-left: 312px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.interested h2 {
  font-size: 30px;
  line-height: 36px;	
  text-align: center;
}

.interested p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button-popap {
  background-color: #766357;	
}

.button-popap:hover,
.button-popap:focus {
  background-color: #604e43;
}

.button-popap:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-find:hover,
.button-find:focus,
.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.button-find:active,
.social-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  margin: 0;
  padding: 0;
  width: 1200px;
  min-height: 120px;
}

.main-footer .footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.visitsedona {
  font-size: 21px;
  line-height: 26px;	

  width: 240px;
}

.footer-social {
  width: 400px;
}

.social-list {
  list-style: none;
}

.html-academy {
  width: 240px;
}

.website-by {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.find-form-item input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.find-form-item input:hover {
  background-color: #ebebeb;
}

.find-form-item input:focus {
  background-color: transparent;
  border: 2px #e5e5e5 solid; /* Форма увеличивается в фокусе из за появления рамки. Нужно что-то менять. ) */
}

/* Далее для страницы каталога */

.catalog-list {
  margin: 0;
  padding: 0;
}

.catalog-item {
  padding: 30px 70px;
  display: flex;
  flex-direction: row;
}

.catalog-item img {
  margin-right: 30px;
}

.catalog-item span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.catalog-reitings {
  margin-left: auto;
}

.reitings {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666; 
}

.hotel-type {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;	
}

.hotel-type:hover,
.hotel-type:focus {
  color: #81b3d2;
}

.hotel-type:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-filter {
  background-image: url("../img/filter-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 120px;
}





.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}